

.equipment-slot {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 300px;
  text-align-last: center;
}

.margin-tb {
  margin-top: 5px;
  margin-bottom: 5px;
}

.equipment-wrapper {
  margin-left: 100px;
  margin-top: 75px;
}

.stats-wrapper {
  margin-left: 100px;
  margin-top: 25px;
}

.stat-label {
  width: 75px;
}

.stat-input {
  width: 50px;
  padding: 1px;
}

.monster-wrapper {
  margin-left: 100px;
  margin-top: 25px;
}

.checkbox-wrapper {
  margin-left: 100px;
  margin-top: 25px;
}
.checkbox-label {
  margin-bottom: 5px;
}

.checkbox {
  vertical-align: middle;
  margin-left: 5px;
}

.stats{
  margin-left:100px;
  margin-top: 25px;
}
.stat-left{
  display: inline-block;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right:solid black 1px;
  width: 150px;
  text-align: center;
}
.stat-right{
  display: inline-block;
  border-top: solid black 1px;
  border-right: solid black 1px;
  width: 100px;
  text-align: center;
}
.stat-bottom{
  border-bottom: solid black 1px;
}

div.noPadding {
  padding-left: 0;
  padding-right: 0;
}

div.noMargin {
  margin-left: 0;
  margin-right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group-text{
  width: 87px;
}

.App {
  padding-left: 20px;
  padding-top: 20px;
}
